body {
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.surface {
    min-height: 100vh;
    background: url("./image/ambiance.jpeg");
    background-size: cover;   
}

.deepwater {
    min-height: 100vh;
    background-image: url("./image/diver.jpeg");
    background-size: cover;
    
}

.seabed {
    min-height: 100vh;
    background-image: url("./image/diver-sun.jpg");
    background-size: cover;
   
}

.text {
    padding-left: 20vh;
    padding-top: 4vh;
    font-size: 2.5em;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
