.container {
  background: black;
  min-height: 150px;
}

.form {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
}

.input {
  font-size: 32px;
  font-family: 'Roboto';
  font-weight: 200;
  height: 55px;
  width: 50vw;
  padding: 18px 0 16px 37px;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  color: #555;
}

.submit {
  background: #1e58ac;
  padding: 8px 13px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 17px;
  border: 1px solid #1f5bb3;
  cursor: pointer;
}

.footer {
  color: white;
  font-family: 'Roboto';
  display: flex;
  justify-content: space-between;
  padding: 25px;
}
