  .container {
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
  }

  .text {
    padding-left: 45vw;
    padding-top: 15vh;
  }

  .fonts {
    color: white;
    font-family: 'Roboto';
  }

  .title {
    composes: fonts;
    font-size: 3em;
    font-weight: 300;
    line-height: 2em;
  }

  .subtitle {
    composes: fonts;
    font-size: 2em;
    font-weight: 200;
    line-height: 1em;
  }
